{% extends 'base.html' %}

{% block contenido %}
<body>
{% if form %}
    <form action="" method = "POST">
      {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Crear">
    </form>
{% elif new_category %}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{category.name}}</h5>
    </div>
{% endif %}
</div>
</body>
{% endblock %}