{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}

    {% for product in products %}

<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}.</p>
            <a href="#" class="btn btn-primary">boton 2</a>
        </div>

    </div>
    {% endfor %}
{% endblock %}

</body>

</html>